footer.footer.text-center
  p.footer-contact 台湾台北市大同區市民大道１段209號11樓
    br.d-inline.d-sm-none
    | （京站大師會館國際商務中心）
    br
    | TEL:02-2181-1602　　MAIL:info@sfit.com.tw
    br
    | 國外不動產投資，東京不動產投資，具有風險性，
    br.d-inline.d-sm-none
    | 請投資人詳閱行銷文件並審慎考量後再行交易。
  p: small © 喜飛特不動產股份有限公司 All Rights Reserved.
  a#pageTop: span
