header.header
  nav.nav--gnav.navbar.navbar-expand-md.navbar-dark.bg-dark.d-flex.justify-content-xs-start
    div.navbar-brand.float-sm-left.mr-auto: img(src="./img/ci.png", alt="S-FIT 喜飛特不動產")
    //- button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
      span: img(src="./img/toggler.svg", alt="")
    //- .collapse.navbar-collapse#navbarToggler
    //-   ul.navbar-nav.mr-xs-auto.ml-auto
    //-     li.nav-item: a.nav-link 私達について
    //-     li.nav-item: a.nav-link お客様の声
    //-     li.nav-item: a.nav-link セミナー情報
    //-     li.nav-item: a.nav-link 会社概要
