block variables
doctype html

html(lang="ja")
  head
    include /template/_meta

  body(class=pageClass)
    block after-body
    include /template/_header
    main
      // contents
      block content
      // /contents

    include /template/_footer

    include /template/_script
    block before-end
