meta(charset='UTF-8')
title S-FIT 喜飛特不動產
meta(name='keywords', content='')
meta(name='description', content='')
meta#viewport(name='viewport', content='width=device-width,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
//- meta#viewport(name='viewport', content='width=425px,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
//- script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
link(rel="stylesheet" href="./css/style.css")
