.heading-type01 {
  color: #000827;
  letter-spacing: 0.1em;
  line-height: 1.24em;
  span { color: #044744; }
  @media (--sm) {
    margin-bottom: 35px;
    font-size: 42px;
  }
  @media (--xs) {
    margin-bottom: 10px;
    font-size: 21px;
  }
}

.heading-type02 {
  display: inline-block;
  margin-bottom: 40px;
  padding-bottom: 12px;
  line-height: 1;
  position: relative;
  font-family: 'Bickham Script Pro', serif;
  color: #044744;
  font-size: 35px;
  /* letter-spacing: 0.1em; */
  &:after {
    position: absolute * * 0 0;
    height: 5px;
    content: "";
    width: 100%;
    border-top: 1px solid #000827;
    border-bottom: 1px solid #000827;
  }
}

.heading-type03 {
  color: #044744;
  line-height: 1.6em;
  @media (--sm) {
    margin-bottom: 30px;
    font-size: 22px;
  }
  @media (--xs) {
    margin-bottom: 25px;
    font-size: 17px;
  }
}

.heading-type04 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.875em;
}

.heading-type05 {
  color: #000827;
  @media (--sm) {
    margin-bottom: 30px;
    font-size: 24px;
  }
  @media (--xs) {
    margin-bottom: 25px;
    font-size: 17.5px;
  }
}

.heading-type06 {
  margin-bottom: .5em;
  color: #044744;
  font-size: 1rem;
}
