.nav--gnav {
  &.navbar {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
    @media (--md) {
      height: 67px;
      padding: * 24px * 40px;
      z-index: 10;
    }
    @media (max-width: 767px) {
      position: absolute 0 * * 0;
      width: 100%;
      height: 45px;
      padding: * 15px;
      z-index: 10;
    }
  
    /* Logo */
    .navbar-brand {
      display: flex;
      align-items: center;
      
      @media (max-width: 767px) {
        width: 44%;
        max-width: 165px;
        position: relative;
        z-index: 10;
        img { width: 100%; }
      }
    }
    
    /* Nav */
    .navbar-nav {
      .nav-link {
        color: #fff;
        font-weight: 500;
        letter-spacing: .2em;
        
        @media (--xs) {
          height: 40px;
          padding: * 20px;
          font-size: .975rem;
          border-bottom: 1px solid #333952;
        }
        @media (--sm) {
          padding: * .9rem;
          font-size: .9375rem;
        }
        @media (--md) {
          padding: * .5rem;
        }
      }
    }
    
    /* Toggler */
    .navbar-toggler {
      padding: 0;
      border: 0;
      width: 25px;
      span {
        display: flex;
        align-items: center;
      }
      img {
        width: 100%;
      }
      @media (max-width: 767px) {
        position: relative;
        z-index: 10;
      }
    }
    
    /* Collapse */
    .navbar-collapse {
      @media (max-width: 767px) {
        position: fixed;
        width: 80%;
        height: 100vh;
        top: 0;
        left: 20%;
        padding: 75px *;
        background-color: #000827;
        z-index: 2;
        transition: left .5s ease;
      }
      &:not(.show) {
        display: block;
        left: 100%;
      }
    }
    
  }
    
}
