extend /template/_layout

append content
  .jumbotron.jumbotron-fluid.text-center.jumbotron--sfit
    h1.display-4 我們提供穩健的日本不動產投資策略 一個全新的可能性
    p.lead 喜飛特不動產是日本不動產公司”株式會社S-FIT”在台灣所設立的子公司。
      br
      | 為台灣客戶提供與日本同步之不動產投資提案建議及管理服
    p.eng new possibility
    span.scroll scroll
    ul.social
      li.social-fb: a(href="https://www.facebook.com/sfit.com.tw/" target="_blank"): img(src="./img/icon_fb.svg", alt="")
      li.social-yt: a(href="https://goo.gl/2P59JU"): img(src="./img/icon_yt.svg" target="_blank" alt="")
      li.social-email: a(href="mailto:info@sfit.com.tw"): img(src="./img/icon_email.svg" target="_blank" alt="")
  
  section.section.section--interview
    .container
      .text-center
        h2.heading-type01 東風藏寶圖 
          span 電
          | 視節目專訪
        h3.heading-type02 Interview
      .video: iframe(width='960', height='540', src='https://www.youtube.com/embed/ScMzIvxBSi4?rel=0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
  .conatiner-fluid.banner
    a(href="#")
      img(src="./img/pc/banner.png", alt="").d-none.d-sm-block
      img(src="./img/sp/banner.png", alt="").d-block.d-sm-none
    
  section.section.section--about
    .container
      .text-center
        h2.heading-type01
          span 關
          | 於喜飛特不動產
        h3.heading-type02 About
      .row
        .col-md
          img(src="./img/img-about.jpg", alt="")
        .col-md
          h4.heading-type03.text-center.text-sm-left 建構台灣人能安心投資日本不動產的管道,
            br
            | 是我們的承諾
          h5.heading-type04.text-center.text-sm-left <喜飛特不動產是>
          p 以不動產的租賃管理事業為事業核心之不動產公司，並以「維持客戶資產最高的出租稼動率」為最高原則，提供客戶不動產投資建議。
            br
            | 於台灣設有當地辦事處，以提供台灣客戶「與日本本地客戶同等，零時差,高效率的不動產買賣、租賃與管理服務」
            br
            | 注重與客戶間的即時溝通，讓客戶「買得安心、租得開心」
            
  section.section.section--feature.section--bg-gray   
    .container
      .text-center
        h2.heading-type01 喜飛特不動產的
          span 特
          | 色
        h3.heading-type02 Feature
      .row
        .col-md
          h4.heading-type05.text-center.text-sm-left 買、租、賣一條龍服務 
          .feature-img: img(src="./img/img-feature01.svg", alt="")
          h5.heading-type04.text-center.text-sm-left <物件購買上>
          p 除公司自有資源外，另與東京本地物件大盤商Shire公司合作，「網羅客戶想要的優質物件」為目標。
          h5.heading-type04.text-center.text-sm-left  <物件出租與管理上>
          p 充分運用物業管理公司既有之know-how優勢，迅速且確實執行招租管理業務，為客戶追求「租賃零時差、資產零折舊」之理想。
          h5.heading-type04.text-center.text-sm-left  <物件販賣上>
          p 為客戶物件進行充分價格調查再找尋適當買家，以「客戶資產價值的最大化」作為販賣的最高指導原則。
        .col-md
          h4.heading-type05.text-center.text-sm-left S-FIT(喜飛特)式的物業租賃管理服務
          .feature-img: img(src="./img/img-feature02.png", alt="")
          h5.heading-type04.text-center.text-sm-left <基礎服務>
          p 招募房客、房客審核、契約制定、租金收取、租金匯款、房客對應、物件屋況整理、定期報告。
          h5.heading-type04.text-center.text-sm-left <進階服務>
          p 協助客戶物件找尋房客時，針對物件特性給予不同租賃條件組合建議，永遠將「租賃高投報、物件零空屋」作為我們的終極目標。
          h5.heading-type04.text-center.text-sm-left <支援服務>
          p 廣告製作，宣傳強化，租賃促銷策略。

  .conatiner-fluid.banner
    a(href="#")
      img(src="./img/pc/banner.png", alt="").d-none.d-sm-block
      img(src="./img/sp/banner.png", alt="").d-block.d-sm-none
    
  section.section.section--voice
    .container
      .text-center
        h2.heading-type01 顧客
          span 心
          | 聲
        h3.heading-type02 Voice
      .row
        .col-md
          .voice-img: img(src="./img/img-voice01.jpg", alt="")
          h5.heading-type06 L小姐
          p 喜飛特所提供的服務是一條龍的管理模式。
            br
            | 從買賣到管理以及房客的應對，甚至後續退租招租等都幫我處理。
            br
            | 遇到修繕問題時房內的設備修繕也會提供報價單。所以人就算不在日本也可以安心交給喜非特管理。

        .col-md
          .voice-img: img(src="./img/img-voice02.jpg", alt="")
          h5.heading-type06 S先生
          p 之前有聽聞日本不動產投資穩定，故一直在尋找良好的投資標的。但由於對日本地理環境不熟所以感到很不安。就在此時遇到喜飛特的不動產專案經理，很有耐心地替我解說有關日本投資的注意事項，之後我也選擇了適合自己的投資貸款方案和喜歡的物件。很感謝喜飛特讓我現在可以穩定地收租~。
        .col-md
          .voice-img: img(src="./img/img-voice03.jpg", alt="")
          h5.heading-type06 Y小姐
          p 目前已有房產在日本(東京新宿區)收租，但是還是會去參加喜飛特舉辦的座談會。
            br
            | 座談會的內容非常有趣，不止是日本不動產未來的動向，還會分享其他客戶的投資手法。另外，日籍主管也會來現場以日本當地的角度推薦優質的物件。每次聽完喜飛特所辦的座談會都會感到受益良多。投資策略和選物件的眼光因此越來越進步，今年又透過喜飛特買下目黑區的物件。覺得喜飛特很專業!

  .conatiner-fluid.banner
    a(href="#")
      img(src="./img/pc/banner.png", alt="").d-none.d-sm-block
      img(src="./img/sp/banner.png", alt="").d-block.d-sm-none
  
  section.section.section--symposium
    .container.text-center
      h2.heading-type01 日本房地產投資座
        span 談
        | 會  
        br.d-inline.d-sm-none
        | /  免費參加
      h3.heading-type02 Symposium
      .symposium-wrapper
        .symposium-content
          h4.symposium-ttl 讓S-FIT 為您分析
            br.d-inline.d-sm-none
            | 日本不動產投資的黑暗面!!
          p.symposium-venue 11/20(二)19：00～・11/21(三)15：00～
            br.d-inline.d-sm-none
            | 京站大師會館10F 日本房地產投資座談會
          p.symposium-desc 「海外投資不少陷阱，多看多聽才能安心！」
            br.d-inline.d-sm-none
            | 海外不動產投資陷井重重，
            br.d-inline.d-sm-none
            | 美麗表象下隱藏了多少危機!?
          a.btn.btn-lg.btn--symposium 說明會報名請點選這
  
  section.section.section--philosophy
    .container-fluid
      h2.philosophy-ttl.philosophy-ttl--main 關於我們 喜飛特理念
      .row
        .col-lg.philosophy-text
          h2.philosophy-ttl 關於我們 喜飛特理念
          p 近年，來自亞洲的海外投資者對於日本房地產投資之興趣日漸加溫︒
            br
            | S-FIT 對於日本國內之不動產投資秉持「信賴企業」之理念下，提供投資者下列兩項主要服務︒
            br
            | 一為提供不動產流通服務︒妥善處理錯綜複雜的不動產資訊︑各種交易方式等，與不動產投資相關之各種手續業務，提供絕對安心的交易服務︒
            br
            | 二為租賃管理︒透過本公司20 處直營店以及500 家以上仲介夥伴所組成之網絡，
            br
            | 讓投資家持有之物件能迅速尋獲承租人，提高資產價值︒
            br
            | 各位在決定購買當下非常重視物件之場所︑價格與報酬率，但通常容易忽略購買後之「収益性」︒
            br
            | S-FIT 認為在購入不動產後才是真正信賴關係的開始，將透過公司內部各不動產事業的跨領域整合能力，全體員工一同致力營造讓您能安心經營日本國內不動產的投資環境︒
        .col-lg
          .philosophy-img
            img(src="./img/philosophy-img.png", alt="")
            p.text-right 董事長 紫原 友規
  
  section.section.section--company
    .container
      h2.company-ttl.text-center 喜飛特不動產公司情報
      table.table.table--company
        tr
          th 公司名
          td 喜飛特不動產股份有限公司
        tr
          th 董事長
          td 紫原 友規
        tr
          th 統一編號
          td 2 4 7 7 4 2 6 4
        tr
          th 電話號碼
          td 0 2 - 2 1 8 1 - 1 6 0 2
        tr
          th 住址
          td 台湾台北市大同區市民大道１ 段2 0 9 號1 1 樓
            br.d-inline.d-sm-none
            | （ 京站大師會館國際商務中心）
        tr
          th M a i l
          td i n f o @ s f i t . c o m . t w
        tr
          th URL
          td h t t p : / / w w w . s f i t . c o m . t w /
      .row.company-social
        a.col-md.social-item.social-fb(href="https://www.facebook.com/sfit.com.tw/" target="_blank")
          div: img(src="./img/icon-fb.png" width="55" alt="")
          .social-imfo
            p.social-ttl 喜飛特不動產股份有限公司
            p.social-url https://www.facebook.com/sfit.com.tw/
          .social-qr: img(src="./img/qr-fb.png" width=!81 alt="")
        a.col-md.social-item.social-yt(href="https://goo.gl/2P59JU" target="_blank")
          div: img(src="./img/icon-yt.png" width="119" alt="")
          .social-imfo
            p.social-ttl 喜飛特日本不動產 Channel
            p.social-url https://goo.gl/2P59JU
          .social-qr: img(src="./img/qr-yt.png" width=!81 alt="")
          
        
  .conatiner-fluid.banner
    a(href="#")
      img(src="./img/pc/banner.png", alt="").d-none.d-sm-block
      img(src="./img/sp/banner.png", alt="").d-block.d-sm-none
