footer.footer {
  position: relative;
  
  p { font-size: 12px; }
  
  #pageTop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000827;
    span {
      display: inline-block;
      background: url(../img/icon-arrow.png) no-repeat;
      background-size: contain;
    }
    @media (--sm) {
      bottom: 40px;
      right: 40px;
      size: 80px;
      cursor: pointer;
      span { size: 38px 19px; }
    }
    @media (--xs) {
      top: 25px;
      right: 10px;
      size: 40px;
      span { size: 16px 9px; }
    }
  }
  
  @media (--sm) {
    padding: 50px *;
    .footer-contact {
      margin-bottom: 50px;
      line-height: 2.25em;
    }
  }
  @media (--xs) {
    padding: 45px * 40px;
  }
  
}
